body {
    font-family: 'Patua One', cursive;
}

.text-left {
    text-align: left;
}

strong {
    font-weight: 800;
}

form.bookingForm h4 {
    font-family: 'Patua One', cursive;
}

p, div.content li, div.content form {
    font-family: 'Open Sans', sans-serif;
}

div.content input, div.content textarea {
    width: 100%;
}

div.content input[type=submit] {
    color: #fff;
}

div.content li {
    list-style-type: disc;
    list-style-position: outside;
    margin-left: 20px;
}

h1, h2, h3, h4, h5, h6 {
    color: #425b54;
}

.open-sans {
    font-family: 'Open Sans', Arial, sans-serif;
}

a {
    color: #2cb138;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.button.button-primary, input[type="submit"].button-primary {
    background-color: #f0512b;
    border: none;
    font-family: 'Patua One', sans-serif;
}

div.note {
    background: #f4f4f4;
    padding: 10px;
    border: 1px solid #ccc;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 20px;
    font-weight: 800;
}

div.alert {
    padding: 10px;
    margin-bottom: 20px;
}

div.alert ul {
    margin-bottom: 0px;
}

div.alert ul li:last-child {
    margin-bottom: 0px;
}

div.alert-danger {
    background: #fff1f1;
}

div.alert-success {
    background: #eff5d9;
    margin-top: 20px;
    font-family: 'Open Sans', 'Arial', sans-serif;
    font-size: 16px;
}

table.bookingsCalendar {
    width: 100%;
}

table.bookingsCalendar td {
    padding: 0px;
    table-layout: fixed;
    width: 60px;
    height: 80px;
    vertical-align: top;
    overflow: hidden;
    position: relative;
}

table.bookingsCalendar th {
    text-align: left;
}

table.bookingsCalendar td p {
    margin-bottom: 2px;
    font-size: 11px;
}

table.bookingsCalendar td a:last-child {
    margin-bottom: 10px;
    display: block;
}

table.bookingsCalendar td p {
    background: #00a0d2;
    color: #fff;
    display: inline-block;
    padding: 0px 10px;
    position: relative;
    margin-right: 10px;
}

table.bookingsCalendar td p.jayco-hawk {
    background: red;
}
table.bookingsCalendar td p.jayco-expanda {
    background: green;
}
table.bookingsCalendar td p.gic-camper {
    background: blue;
}
table.bookingsCalendar td p.mdc-camper {
    background: orange;
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}

div.topMeta h6 {
    display: inline-block;
    margin-left: 20px;
}

div.logo img {
    width: 80%;
}

div.slideText a {
    width: 100%;
    font-size: 24px;
    padding: 28px 20px;
    display: block;
    height: inherit;
    margin: 10px 0;
}

.header {
    padding: 20px 0;
}

div.mainNav ul li {
    display: inline;
}

div.mainNav ul li a {
    display: inline-block;
    padding-left: 20px;
    font-size: 24px;
    color: #425b54;
}

div.slideshowWrapper {
    position: relative;
}

div.background-bar {
    position: absolute;
    height: 150px;
    width: 100%;
    background: #425b54;
    top: 0px;
}

div.slideshowWrapper {
    margin-top: 0px;
}

div.slideshowWrapper div.camper img {
    position:absolute;
    width: 100%;
}

div.camperText {
    margin-top: 20px;
}

div.camperText p {
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    font-weight: 300;
}

div.camperText a.button {
    display: block;
    width: 100%;
    font-size: 16px;
}

.white {
    color: #fff;
}

.orange {
    color: #f0512b;
}

div.slideText div.title {
    width: 60%;
    float: left;
}

div.slideText div.title h1 {
    font-size: 42px;
}

div.slideText div.link {
    width: 40%;
    float: left;
}

div.slideText h3 {
    margin-bottom: 0px;
}

div.slideshowWrapper div.camper {
    margin-top: -100px;
}

div.slide {
    width: 100%;
}

#adv-custom-pager {
    margin-bottom: 40px;
}

#adv-custom-pager div.columns img {
    width: 100%;
}

#adv-custom-pager div.columns {
    background: #f7f7f7;
    position: relative;
    padding: 10px;
    min-height: 210px;
}


#adv-custom-pager div.columns h2 {
    color: #fff;
    background: #f0512b;
    text-align: center;
    display: block;
    padding: 8px;
    margin-bottom: 0px;
    font-size: 18px;
    position: absolute;
    bottom: 10px;
    left: -10px;
    width: 50%;
}

#adv-custom-pager div.cycle-pager-active {
    background: #dedede;
}

.mobileNav {
    padding: 8px;
    margin: 0;
    height: inherit;
    line-height: 1;
    background: #fff;
    font-size: 18px;
    display: none;
}

div.pageHero {
    width: 100%;
    height: 150px;
    margin-top: -100px;
    position: relative;
    z-index: -1;
}

div.pageHero h1 {
    color: #fff;
    text-transform: uppercase;
    display: inline-block;
    margin: 0;
    padding: 0;
    line-height: 1;
}

div.opaque {
    background: rgba(0,0,0,0.5);
    width: 100%;
    height: 150px;
    position: absolute;
}

div.content {
    padding: 40px 0;
}

div.content table td > table {
    margin: 0px;
    width: 100%;
}

div.content table td > table td {
    border-bottom: none;
}

div.columns div.imageWrapper {
    position: relative;
    overflow: hidden;
}

div.imageWrapper h1 {
    position: absolute;
    bottom: 10px;
    left: -10px;
    background: #f0512b;
    color: #fff;
    text-transform: uppercase;
    font-size: 24px;
    padding: 10px 20px;
    letter-spacing: 1px;
    z-index: 1000;
}

div.image {
    float: left;
    margin: 0 10px 10px 0;
}

input[type=radio] {
    padding: 0 2px;
    display: inline-block;
    margin: 9px 9px 5px 1px;
}

div.columns div.pager {
    margin-bottom: 0px;
    text-align: center;
}

div.columns div.pager span:hover {
    cursor: pointer;
    color: #999;
}

div.columns div.pager span {
    color: #bdbdbd;
    margin: 0 2px;
    font-size: 20px;
}

div.columns div.pager span.cycle-pager-active {
    color: #444;
}

div.bookingButton {
    position: absolute;
    right: 0px;
}

div.bookingButton a {
    background: #f0512b;
    color: #fff;
    display: block;
    padding: 15px;
    font-size: 18px;
    border-radius: 5px;
}

div.bookingButton a:hover, a.button:hover, a.button-primary:hover {
    background: #bb3a1b !important;
    text-decoration: none;
}

div.booking {
    width: 33.33%;
    float: left;
}

div.booking:nth-child(3n) {
    margin-right: 0px;
}

div.pagination {
    display: block;
    width: 100%;
    float: left;
}

div.errors {
    background: #fce1da;
    padding: 10px;
    border-radius: 5px;
    color: #444;
}

div.errors ul li {
    list-style: disc;
    margin-left: 20px;
    margin-bottom: 5px;
}

div.errors ul li:last-child {
    margin-bottom: 0px;
}


div.errors ul {
    padding: 0px;
    margin: 0px;
}

.embed-container {
    position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%;
} .embed-container iframe, .embed-container object, .embed-container embed {
      position: absolute; top: 0; left: 0; width: 100%; height: 100%;
}

#adv-custom-pager div.columns:hover {
    cursor: pointer;
    background: #eee;
}

.responsive-iframe-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}

.responsive-iframe-container iframe,
.vresponsive-iframe-container object,
.vresponsive-iframe-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

div.footer {
    background: #425b54;
    padding: 20px 0;
}

div.footer p {
    color: #fff;
    margin: 0px;
}

div#map {
    width: 100%;
    height: 400px;
}

div.boxed {
    padding: 20px;
    background: #f4f4f4;
    border: 1px solid #ddd;
}

form.logout, a.login {
    position: absolute;
    right: 10px;
    top: 10px;
}

ul.pendingBookings {
    margin-left: 0px;
}

ul li.pendingBooking {
    list-style: none;
    margin-left: 0px;
    border-bottom: 1px solid #ccc;
}

li.pendingBooking p {
    margin-bottom: 0px;
}

div.userDashboard a.columns {
    background: #f4f4f4;
    padding: 15px;
    border: 1px solid #eee;
}

div.mobileTable {
    display: none;
}

input[type="submit"].button-red {
    background-color: #aa1f1f;
    border: none;
    font-family: 'Patua One', sans-serif;
    color: #fff;
    display: block;
}

a.button-red {
    background: #aa1f1f;
    color: #fff !important;
    display: block;
    padding: 10px;
    text-align: center;
}

.red {
    color: #aa1f1f;
}

#clockdiv{
    font-family: sans-serif;
    color: #fff;
    display: block;
    font-weight: 100;
    text-align: center;
    font-size: 30px;
    width: 75%;
    margin: 0 auto 40px auto;
}

#clockdiv > div{
    padding: 10px 0;
    border-radius: 3px;
    display: inline-block;
    width: 22%;
    background: #bf0000;
}

#clockdiv div > span{
    padding: 10px;
    border-radius: 3px;
    background: #810000;
    display: inline-block;
}

.smalltext{
    padding-top: 5px;
    font-size: 16px;
}

ul.pagination li {
    display: inline;
    list-style: none;
}

.algolia-autocomplete {
    width: 100%;
}
.algolia-autocomplete .aa-input, .algolia-autocomplete .aa-hint {
    width: 100%;
    min-height: 30px;
    text-indent: 10px;
}
.algolia-autocomplete .aa-hint {
    color: #999;
}
.algolia-autocomplete .aa-dropdown-menu {
    width: 100%;
    background-color: #fff;
    border: 1px solid #999;
    border-top: none;
}
.algolia-autocomplete .aa-dropdown-menu .aa-suggestion {
    cursor: pointer;
    padding: 5px 4px;
}
.algolia-autocomplete .aa-dropdown-menu .aa-suggestion.aa-cursor {
    background-color: #B2D7FF;
}
.algolia-autocomplete .aa-dropdown-menu .aa-suggestion em {
    font-weight: bold;
    font-style: normal;
}

button.delete {
    padding: 0;
    border: none;
    letter-spacing: 0;
    font-family: 'Open Sans', sans-serif;
    line-height: 1;
    margin: 0px;
    height: auto;
}

span.holiday {
    position: absolute;
    top: 2px;
    left: 0;
    width: 25px;
    height: 25px;
    background: #ffb0ae;
    z-index: -1;
    border-radius: 16px;
}

span.dayWrapper {
    position: relative;
    display: block;
    width: 25px;
    height: 25px;
    text-align: center;
    top:3px;
}

ul.adminNav {
    margin: 20px 0;
    padding:0px;
    border-bottom: 1px solid #ccc;
}

ul.adminNav li {
    display: inline-block;
    margin: 0px;
}

ul.adminNav li a {
    padding: 15px;
    border: 1px solid #ccc;
    border-bottom: none;
    margin-right: 10px;
    display: inline-block;
}

ul.adminNav li a.active {
    background: #f4f4f4;
}

div.tabbed-content > div.columns {
    display: none;
}

div.tabbed-content div.modalContainer div.columns {
    display: block;
}

div.tabbed-content div.columns.active {
    display: block;
}

div.modalContainer {
    display: none;
    overflow: scroll;
    position: fixed;
    background: #fff;
    width: 70%;
    left: 15%;
    top: 5%;
    height: 90%;
    z-index: 1000;
    padding: 40px;
    box-shadow: 0px 0px 9px rgba(0,0,0,0.3);
    border: 1px solid #ccc;
    box-sizing: border-box;
    z-index: 100;
}

div.modalContainer div.container {
    width: 100%;
    padding: 0px;
}

div.close {
    position: absolute;
    top: 14px;
    right: 10px;
    background: #6d6868;
    padding: 7px 10px;
    border-radius: 16px;
    color: #fff;
    cursor: pointer;
    line-height: 1;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
}

div.overlay {
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    position: fixed;
    top: 0px;
    z-index: 1;
}

input.error, input.error:focus {
    border: 1px solid red !important;
    background: #ffe1df;
}

small.errormsg {
    margin: -10px 0 10px 0;
    display: block;
}

a.fbbutton {
    display: block;
    float: right;
    margin: -9px 0 0 15px;
}

@media (max-width: 1200px) {
    div.slideText div.title, div.slideText div.link {
        width: 100%;
        text-align: center;
    }

    div.slideshowWrapper div.camper {
        margin-top: -20px;
    }

    a.fbbutton {
        display: none;
    }
}

@media (max-width: 945px) {
    div.logo img {
        width: 50%;
    }

    a.fbbutton {
        display: block;
        float: none;
        margin: 10px 0 0 0;
    }

    div.mobileTable {
        display: block;
    }

    table.ratesTable {
        display: none;
    }

    div.logo {
        text-align: center;
    }

    div.topMeta {
        text-align: center;
    }

    div.topMeta h6 {
        margin-left: 0px;
        margin-bottom: 0px;
    }

    div.mainNav {
        margin-top: 20px;
        display: none;
    }

    div.mainNav ul li {
        display: block;
        text-align: left;
    }

    .mobileNav {
        display: block;
        width: 100%;
        text-align: center;
        margin-top: 20px;
    }

    div.slideshowWrapper div.camper {
        margin-top: 20px;
    }
    
    div.slideshowWrapper div.camper img {
        position: relative;
    }

    #adv-custom-pager {
        display: none;
    }

    div.pageHero {
        margin-top: 20px;
    }
}